{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags wagtailuserbar %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block hero %}
    <section class="section--hero">
        <div class="column">
            <div class="hero secondary hero--main hero--main__secondary">
                <div class="container">
                    <div class="hero--main--text space-between">
                        <h1>{{ page.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
{#        {% image page.feed_image width-200 %}#}
    </section>
{% endblock %}

{% block content %}
    {% if page.body %}
    <section class="section--blog">
        <div class="column">
            <div class="container">
                {{ page.body|richtext }}
            </div>
        </div>
    </section>
    {% endif %}

    {% if self.related_links %}
        <section class="section--blog--related">
            <div class="column">
                <div class="container">
                <h5>Related links</h5>
                <div class="row row-center">
                    {% for rl in self.related_links.all %}
                        <p>{{ rl.name }}: <a class="link--body__inline" href='{{ rl.url }}'>{{ rl.name }}</a></p>
                    {% endfor %}
                </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="section--blog--author">
        <div class="column">
            <div class="container">
                <div class="blog--author">
                    <h3>Author: {{ page.owner|capfirst }}</h3>
                    <img src="{{ page.owner.wagtail_userprofile.avatar.url }}" alt="User Profile Image"/>
                </div>
            </div>
        </div>
    </section>

    {% if children %}
    <section class="section--blog__children">
        <div class="card--grid grid--4__even">
        {% for child in children %}
            <div class="card card__small__blog shadow__small">
                <div class="card--image">
                    {% image child.feed_image width-200 %}
                </div>
                <div class="card--text">
                    <h4>{{ child.title }}</h4>
                    <a class="button button--download" href="{{ child.slug }}">View Post</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
    {% endif %}

    {% wagtailuserbar %}

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

