{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags wagtailuserbar %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block hero %}
    <section>
        <div class="column">
            <div class="hero secondary hero--main hero--main__secondary">
                <div class="container">
                    <div class="hero--main--text space-between">
                        <h1>{{ page.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}

{#    <section class="section--blog">#}
{#        <div class="column">#}
{#            <div class="container">#}
{#                {{ page.body|richtext }}#}
{#                {% image page.photo width-200 %}#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

    {% if blog_entries %}
        <section class="section--blog__children">
            <div class="column">
            <div class="container grid card--grid grid--4__even">
                {% for blog_entry in blog_entries %}
                    <div class="card card__small__blog shadow__small">
                        <div class="card--image">
                            {% image blog_entry.feed_image width-200 %}
                        </div>
                        <div class="card--text">
                            <h4>{{ blog_entry.title }}</h4>
                            <p>{{ blog_entry.owner|capfirst }} - {{ blog_entry.date }}</p>
                            <a class="button button--download" href="{{ blog_entry.slug }}">View Post</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        </section>
    {% endif %}

    {% wagtailuserbar %}

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
