{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags wagtailuserbar %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block hero %}
    <section>
        <div class="column">
            <div class="hero secondary hero--main hero--main__secondary">
                <div class="container">
                    <div class="hero--main--text space-between">
                        <h1>{{ page.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="section--blog">
        <div class="column">
            <div class="container">
                {{ page.body|richtext }}
                {% image page.photo width-200 %}
            </div>
        </div>
    </section>

    {% wagtailuserbar %}

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

