@import 'shadows';

@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/ubuntu-r-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-r-webfont.woff') format('woff'),
       url('fonts/ubuntu-r.ttf')  format('truetype');
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: url('fonts/ubuntu-b-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-b-webfont.woff') format('woff'),
       url('fonts/ubuntu-b.ttf')  format('truetype');
}

@font-face {
  font-family: 'Ubuntu Light';
  src: url('fonts/ubuntu-l-webfont.woff2') format('woff2'),
       url('fonts/ubuntu-l-webfont.woff') format('woff'),
       url('fonts/ubuntu-l.ttf')  format('truetype');
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 80em) {
      @content ;
    }
  } @else if $point == laptop {
    @media (min-width: 74em) {
      @content ;
    }
  } @else if $point == tablet {
    @media (min-width: 60em) {
      @content ;
    }
  } @else if $point == phablet {
    @media (min-width: 55em) {
      @content ;
    }
  } @else if $point == mobileonly {
    @media (max-width: 55rem) {
      @content ;
    }

  }
}


@import 'milligram/Color';
@import 'milligram/Base';
@import 'milligram/Blockquote';
@import 'milligram/Button';
@import 'milligram/Code';
@import 'milligram/Divider';
@import 'milligram/Form';
@import 'milligram/Grid';
@import 'milligram/Link';
@import 'milligram/List';
@import 'milligram/Spacing';
@import 'milligram/Table';
@import 'milligram/Image';
@import 'milligram/Utility';
@import 'css/iconmonstr-iconic-font.css';

:root {
  --main-color: #fce21b;
  --black: #000000;
  --white: #ffffff;
  --secondary-color: #A1F4F7;
  --tertiary-color: #32325d;
  --light-purple: #e4e4f1;
  --light-grey: #e1e1e1;
  --medium-grey: #acacac;
  --dark-grey: #5c5c5c;
  --very-dark-grey: #1d1d1d;
  --success: #87B37A;
  --error: #FF8360;
  --card-background: #efefef;
}

html, body {
  background: var(--light-grey);
  color: var(--black);
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', "Segoe UI", sans-serif;
}

/* TEXT CLASSES */
a {
  color: var(--tertiary-color);
  font-weight: bold;

  &:hover {
    color: lighten(#32325d, 30%);
  }
}

strong {
  font-family: 'Ubuntu Bold', "Segoe UI", sans-serif;
}

li {
  margin-bottom: 2rem;
}

p, a, span, li {
    font-size: 1.5rem;
}

small {
  font-size: 60%;

  @media screen and (max-width: 65em) {
      font-size: 60%;
  }
}

h1, h2, h3, h4, h5, h6, {
  font-family: "Ubuntu Bold", "Segoe UI", sans-serif;
}

h1 {
	font-size: 4.6rem;
	line-height: 1.2;
}

h2 {
	font-size: 3.6rem;
	line-height: 1.25;
}

h3 {
	font-size: 2.8rem;
	line-height: 1.3;
}

h4 {
	font-size: 2.2rem;
	letter-spacing: -.08rem;
	line-height: 1.35;
}

h5 {
	font-size: 1.8rem;
	letter-spacing: -.05rem;
	line-height: 1.5;
}

h6 {
	font-size: 1.6rem;
	letter-spacing: 0;
	line-height: 1.4;
}

/* TEXT BOX AND HEADINGS */

.tldr {
  background-color: var(--tertiary-color);
  color: var(--white);
  font-family: 'Ubuntu Bold', "Segoe UI", sans-serif;
  margin: 0;
  padding: 0 1.25rem;
  text-decoration: underline;
  word-wrap: break-word;

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
}

.text--box {
  background-color: var(--tertiary-color);
  color: var(--white);
  font-family: 'Ubuntu Bold', "Segoe UI", sans-serif;
  margin: 0;
  padding: 0 1.25rem;
  text-decoration: underline;
  word-wrap: break-word;

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }

  &__heading {
    display: flex;
    font-size: 2rem;
  }

  &__large{
    font-size: 3rem;
  }
  &__medium {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.heading {
  text-decoration: underline;
}

.bold {
  font-family: 'Ubuntu Bold', "Segoe UI", sans-serif;
}

/* LINKS */
.link {
  color: var(--white);
  text-decoration: underline !important;

  &--body {
    display: block;
    margin: .5rem 0;
    padding: .5rem;
    width: max-content;
  }
  &--body__small {
    margin: .25rem 0;
    padding: .15rem .5rem;
  }
  &--body__inline {
    display: inline;
    margin: 1.5rem 0;
    padding: .5rem;
    width: max-content;
  }
  &--header {
    @include mdElevation(1, 5, 'hover');
    background: var(--white);
    color: var(--black);
    font-family: "Ubuntu Bold", "Segoe UI", sans-serif;
    padding: 1rem;
    text-decoration: underline;
  }
}

/* HEADER AND FOOTER */

header {
  color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100vw;
  z-index: 3;

  a {
    color: var(--black);
    font-size: 1.4rem;
    font-family: 'Ubuntu', "Segoe UI", sans-serif;
    font-weight: bold;
    padding: 2rem 1rem;
    position: relative;
    display: block;
    transition: all 250ms linear;
    width: max-content;

    &:hover {
      color: lighten(#000000, 50%);
      transition: all 250ms linear;
    }
  }
}

footer {
  background-color: var(--success);
  color: var(--black);
  min-height: 300px;
  padding: 2rem 0;

  a {
    color: var(--white);
    margin-bottom: 1rem;
  }
  .grid .column {
    margin-bottom: 2rem;
  }
}

/* BUTTON */

.button {
  border: none;
  border-radius: 0;
  background-color: var(--tertiary-color);
  color: var(--white);

  &.button-outline {
    color: var(--white)
  }

  &--download {
    font-size: 1.4rem;
    margin-right: .5rem;
    margin-bottom: 0;

    i {
      font-size: 1.4rem;
    }
  }

  &:hover {
    background-color: lighten(#32325d, 30%);
    color: var(--white);
  }
  @media screen and (max-width: 65em) {
      margin-bottom: .5rem;
      width: 100%;
  }
}

/* HERO */

.hero {
  display: flex;
  height: 20vh;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 300px;
  position: relative;
  width :100%;
  z-index: 1;

  @media screen and (max-width: 65em) {
      height: 80vh;
  }

  &.secondary {
    @media screen and (max-width: 65em) {
      height: 30vh;
    }
  }

  &--index {
    min-height: 500px;
  }

  &--main {
    justify-content: center;
    align-items: center;

    &__secondary{
      background-image: linear-gradient(to top, var(--light-grey), var(--secondary-color));
      color: var(--black);
    }
    &--text {
      justify-content: center;
      padding: 2rem;
      word-wrap: break-word;

      h1 {
        margin: 0;
        font-size: 3rem;
      }
    }
  }
}

/* GRID */

.grid {
  display: grid;

  &--4__even {
    grid-template-columns: repeat(4, minmax(250px, 1fr));

    @media screen and (max-width: 65em) {
      grid-template-columns: 1fr;
    }
  }

  &--3__even {
    grid-template-columns: repeat(3, minmax(300px, 1fr));

    @media screen and (max-width: 65em) {
      grid-template-columns: 1fr;
    }
  }
}

/* SECTIONS */
.section {
  &--password,
  &--tips,
  &--tool,
  &--encryption,
  &--legal,
  &--funds-list,
  &--petitions-list,
  &--tools-list,
  &--blog,
  &--blog--related {
    margin: 100px 0;
  }
}

.section--tool {
  @media screen and (max-width: 65em) {
    margin: 0 0 100px 0;
  }
}

.section--blog--author {
  background: lighten(#32325d, 30%);
  color: var(--white);
  padding: 50px 0;
}

.section--hero {
  overflow: hidden;
  position: relative;

  .column {
    z-index: 2;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    max-width: 100vw;
    width: 100%;
    height: auto;
    z-index: 1;
  }
}

.section--tool {
  position: relative;
}

.section--blog {
  &--author {
    .blog--author {
      display: flex;
      flex-flow: row nowrap;

      img {
        @include mdElevation(1, 2, 'hover');
        max-height: 100px;
        margin-left: 5rem;
        object-fit: cover;
        width: 100px;
        border-radius: 50px;
      }
    }
  }

  &__children {
    margin: 100px 0;
  }
}

.background__light-grey {
  background-color: var(--light-grey);
}

.slant__before {
  position: relative;

  &:before {
    background-color: #f1f1f1;
    top: -300px;
    content: '';
    height: 600px;
    position: absolute;
    right: 0;
    transform: skew(0,-12deg);
    width: 100%;
    z-index: 0;
  }
}

.container {
  z-index: 2;
}

.section--recommendation {
  padding: 8rem 0;
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }

  &:after {
    background-color: #f1f1f1;
    bottom: -300px;
    content: '';
    height: 600px;
    position: absolute;
    right: 0;
    transform: skew(0,-12deg);
    width: 100%;
    z-index: 0;
  }
}

.section--password {
  .card__large {
    flex-flow: column nowrap;
  }
}

.section--tips {
  background-color: #f1f1f1;
  color: var(--black);
  margin: 16rem 0;
  position: relative;
  z-index: 1;

  .card {
    margin: 0 2rem 2rem 2rem;

    @media screen and (max-width: 65em) {
      margin: 0 0 2rem 0;
    }
  }
}

.section--funds {
  background-color: var(--success);
  padding: 100px 0;
}

.section--petitions {
  background-color: var(--error);
  padding: 100px 0;
}

.section--encryption {
  input,
  label {
    width: 100%;
  }

  label {
    margin: 0 1rem 0 0;
    @media screen and (max-width: 65em) {
      margin: 1rem 0;
    }
  }

  .card__large {
    flex-flow: column nowrap;
    margin-bottom: 10rem;
  }
}

/* CARD */
.card--grid {
  padding-top: 3rem;
}

.card--fund {
  background-color: var(--card-background);
  min-height: 150px;
  max-width: 20vw;
  padding: 2rem;
  width: 100%;

  &--none {
    max-width: 40%;
    div {
      margin: 1rem;
    }
  }

  @media screen and (max-width: 65em) {
    max-width: 95%;
    margin-bottom: 2rem;
  }

  h6 {
    margin: 0;
  }
}

.card--end {
  background-color: var(--card-background);
  min-height: 150px;
  max-width: 20vw;

  @media screen and (max-width: 65em) {
    width: 100vw;
    min-height: max-content;
    max-width: 95%;
    text-align: center;
  }

  a {
    color: black;
    display: flex;
    font-family: 'Ubuntu Bold', "Segoe UI", sans-serif;
    align-items: center;
    height: 100%;
    padding: 2rem;
    text-align: center;
    width: 100%;
  }
}

.shadow {
  &__large {
    box-shadow: 0 8px 15px 5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
  }
  &__medium {
    box-shadow: 0 5px 10px 3px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
  }
  &__small {
    box-shadow: 0 3px 5px 1px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
  }
}

div.card {
  background: var(--card-background);
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  flex: 0 0 2;
  margin: 0 1rem;
  //min-height: 400px;
  padding: 0;
  position: relative;
  transition: all 350ms linear;
  z-index: 2;

  @media screen and (max-width: 65em) {
    width: 100%;
    min-height: max-content;
    max-width: 95%;
    text-align: center;
  }

  &__small {
    min-height: 200px;
    padding: 2rem;
    max-width: calc(100vw - 4rem);

    &__blog {
      max-width: 20vw;

      @media screen and (max-width: 65em) {
        width: 100%;
        min-height: max-content;
        max-width: 95%;
        text-align: center;
      }

      .card--image {
        padding: 0 !important;

        img {
          filter: none !important;
          width: 100% !important;
        }
      }
    }
  }

  @include breakpoint(mobileonly) {
    margin: 0 0 2rem 0;
  }

  &__large {
    display: flex;
    flex: 2;
    flex-flow: row nowrap;
    padding: 2rem;

    @media screen and (max-width: 65em) {
      flex-flow: column nowrap;
      flex: 1;
    }

    .card--text {
      flex: 4 1;
    }

    .card--image {
      flex: 1 1;
      padding: 1rem
    }
  }

  &--links {
    margin-bottom: 3rem;
    padding-left: .5rem;

    h5 {
      margin-bottom: 1rem;
    }
  }

  .card--image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 1rem;

    img {
      height: auto;
      max-width: 100%;
      min-width: 50%;
      width: 200px;
      filter: drop-shadow(0 0 45px rgba(80,80,80,0.75));
      -webkit-filter: drop-shadow(0px 0px 45px rgba(80,80,80,0.75));
    }
  }

  .card--text {
    color: var(--black);
    padding: 1rem;
    width: 100%;

    .button {
      width: 100%;
    }
  }
}

/* FLEX */
.flex {
  display: flex;

  &.center {
    align-items: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.space-evenly {
    justify-content: space-evenly;
  }

  &.flex-end {
    justify-content: flex-end;
  }

  &.align-center {
    align-items: center;
  }

  &--row {
    flex-flow: row nowrap;

    @media screen and (max-width: 65em) {
      align-items: center;
      flex-flow: column nowrap;
      flex: 1;
    }
  }

  &--column {
    flex-flow: column nowrap;
  }
}

.padding {
  &-2 {
    padding: 2rem;
  }
}

.hide-mobile {
  @media screen and (max-width: 65em) {
      display: none;
    }
}

.show-mobile {
  @media screen and (max-width: 65em) {
    display: flex;
  }
}

.mobile--navigation {
  background: var(--light-grey);
  display: flex;
  flex-flow: column nowrap;
  top: 0;
  height: calc(100vh - 50px);
  transition: all 250ms ease-in-out;
  position: fixed;
  width: 100vw;
  z-index: 5;

  a {
    border-bottom: 1px solid lighten(#e1e1e1, 5%);
    width: 100%;

    &:hover {
      background: var(--light-purple);
      font-weight: bold;
    }
  }

  &.hide {
    top: -100vh;
    transition: all 250ms ease-in-out;
  }

  &--icons {
    display: none;
    flex-flow: row nowrap;
    position: fixed;
    bottom: 0;
    height: 10vh;
    max-height: 50px;
    width: 100%;
    z-index: 3;
    @media screen and (max-width: 65em) {
      display: flex !important;
    }
  }

  &--button {
    height: 100%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;

    &:hover {
      background: lighten(#32325d, 30%);
    }
  }
}

/* TYPE TAGS */
.type--tag--container {
  background: var(--light-grey);
  margin-top: 1rem;
  padding: 1rem;
}

span {
  font-family: 'Ubuntu Bold', "Segoe UI", sans-serif;

  &.type__card {
    position: absolute;
    margin: 0;
    padding: .75rem;
    right: 0;
    top: 0;
    z-index: 3;
  }

  &.type--tag {
    padding: .5rem;
    margin: 0 .5rem 1rem .5rem;
    text-align: center;

    @include breakpoint(mobileonly) {
      text-align: center;
      margin-bottom: 2rem;
      width: 100%;
    }
  }

  &.type--messaging {
    background-color: #f6d4ba;
    color: var(--black);
  }
  &.type--secure {
    background-color: #a54657;
    color: var(--white);
  }
  &.type--free {
    background-color: #53ff45;
    color: var(--black);
  }
  &.type--social-media {
    background-color: #1e2ede;
    color: var(--white);
  }
  &.type--search {
    background-color: #0081a7;
    color: var(--white);
  }
  &.type--browser {
    background-color: #25283d;
    color: var(--white);
  }
  &.type--encrypted {
    background-color: #dec0f1;
    color: var(--black);
  }
  &.type--email {
    background-color: #17BEBB;
    color: var(--white)
  }
  &.type--anonymous {
    background-color: #9381FF;
    color: var(--white);
  }
  &.type--vpn {
    background-color: #45062E;
    color: var(--white);
  }
}

.no-margin {
  margin: 0;
}

.margin {
  &__tb__6 {
    margin: 6rem 0;
  }
}

.margin-top{
  &__2 {
    margin-top: 2rem;
  }
  &__6 {
    margin-top: 6rem;
  }
}

.full-width {
  width: 100%;
}

.response--result {
  margin: 1rem 0 2rem 0;
  word-wrap: break-word;
  max-width: calc(100vw - 8rem);
  .text--box {
    text-decoration: none;
  }
}

.download-links {
  margin-left: 2rem;
  flex-flow: row;

  a {
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 65em) {
      flex-flow: column nowrap;
      flex: 1;
  }
}

.password--box {
  margin-bottom: 2rem;
}

/* FORMS */
input[type='text'],
input[type='url'],
textarea {
  border-radius: 0;
  font-size: 100%;
  &:active,
  &:focus {
    border: 1px solid var(--black);
  }
}

input.is-valid,
textarea.is-valid {
  border-color: var(--success);
}

input.is-invalid,
textarea.is-invalid {
  border-color: var(--error);
}

.invalid-feedback {
  background-color: rgba(#df2935, 0.3);
  color: var(--error);
  font-weight: 800;
  padding: .5rem;
}

.form--container {
  background-color: var(--card-background);
  padding: 2rem;

  .form--group {
    margin-bottom: 2rem;
  }
}

/* MESSAGES */
.messages {
  display: flex;
  flex-flow: column;
  min-height: 80px;
  position: fixed;
  left: 0;
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 100vw;
  z-index: 10;

  &.hide {
    bottom: -100px;
    transition: all 350ms linear;
    @media screen and (max-width: 65em) {
      bottom: -1000px;
    }
  }

  p {
    font-size: 150%;
    font-weight: 800;
    margin: 0;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
    @media screen and (max-width: 65em) {
      font-size: 100%;
    }

    &.warning {
      background-color: rgba(#df2935, 0.75);
      color: var(--white);
    }

    &.success {
      background-color: rgba(#10a3a8, 0.75);
      color: var(--black);
    }
  }
}

/* BLOG */
.rich-text img {
    max-width: 100%;
    height: auto;
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
