/**
 * Shadow colors.
 * http://codepen.io/shyndman/pen/ojxmdY
 */
/**
 * The hand-designed reference shadow sets.
 * Source: http://codepen.io/shyndman/pen/ojxmdY
 */
/**
 * Animation durations.
 */
/**
 * Material Design element elevations
 * Source: https://material.google.com/material-design/elevation-shadows.html#elevation-shadows-elevation-android
 */
/**
* Returns the two reference shadows whose elevations bound the specified
* elevation. In the case where the supplied elevation exceeds the maximum
* reference elevation, the last two reference shadows are returned.
*/
/**
 * Performs linear interpolation between values a and b. Returns the value
 * between a and b proportional to x (when x is between 0 and 1. When x is
 * outside this range, the return value is a linear extrapolation).
 */
/**
 * Performs linear interpolation between shadows by interpolating each property
 * individually. Returns the value between shadow1 and shadow2 proportional to x
 * (when x is between 0 and 1. When x is outside this range, the return value is
 * a linear extrapolation).
 */
/**
 * Calculates the set of shadows at a given elevation.
 */
/**
 * Generates box-shadow and the transition for a given elevation
 * A single elevation will generate a single box-shadow set
 * Two elevations and a state will generate a default box-shadow set
 * and another set that is activated by the state
 * tested with :hover and :active
 */
/**
 * Generates the transition for a change between 2 elevations
 * The larger the elevation change the longer the animation takes
 */
/**
* Returns box-shadow and transition properties for Material Design elements
*/
/**
* CSS md-elevation-z# classes
*/
@import url(css/iconmonstr-iconic-font.css);
.md-elevation-z0 {
  box-shadow: none !important; }

.md-elevation-z1 {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z2 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z3 {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z4 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z5 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z6 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-z7 {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12); }

.md-elevation-z8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }

.md-elevation-z9 {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12); }

.md-elevation-z10 {
  box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12); }

.md-elevation-z11 {
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12); }

.md-elevation-z12 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12); }

.md-elevation-z13 {
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12); }

.md-elevation-z14 {
  box-shadow: 0px 7px 9px -5px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12); }

.md-elevation-z15 {
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12); }

.md-elevation-z16 {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12); }

.md-elevation-z17 {
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12); }

.md-elevation-z18 {
  box-shadow: 0px 9px 11px -6px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12); }

.md-elevation-z19 {
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12); }

.md-elevation-z20 {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12); }

.md-elevation-z21 {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12); }

.md-elevation-z22 {
  box-shadow: 0px 10px 14px -7px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12); }

.md-elevation-z23 {
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12); }

.md-elevation-z24 {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12); }

/**
* CSS transistion class
*/
md-elevation-transition {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); }

/**
* CSS classes for Material Design elements
*/
.md-elevation-dialog {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12); }

.md-elevation-picker {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12); }

.md-elevation-nav-drawer {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12); }

.md-elevation-right-drawer {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12); }

.md-elevation-bottom-sheet {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12); }

.md-elevation-fab {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); }
  .md-elevation-fab:active {
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12); }

.md-elevation-sub-menu-3 {
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12); }

.md-elevation-sub-menu-2 {
  box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12); }

.md-elevation-sub-menu-1 {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12); }

.md-elevation-menu {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }

.md-elevation-bottom-nav-bar {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }

.md-elevation-card {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); }
  .md-elevation-card:hover {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }

.md-elevation-raised-button {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); }
  .md-elevation-raised-button:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }

.md-elevation-snackbar {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-app-bar {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-refresh-indicator {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-quick-entry {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); }
  .md-elevation-quick-entry:active {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-search-bar {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); }
  .md-elevation-search-bar:active {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12); }

.md-elevation-switch {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); }

@font-face {
  font-family: 'Ubuntu';
  src: url("fonts/ubuntu-r-webfont.woff2") format("woff2"), url("fonts/ubuntu-r-webfont.woff") format("woff"), url("fonts/ubuntu-r.ttf") format("truetype"); }
@font-face {
  font-family: 'Ubuntu Bold';
  src: url("fonts/ubuntu-b-webfont.woff2") format("woff2"), url("fonts/ubuntu-b-webfont.woff") format("woff"), url("fonts/ubuntu-b.ttf") format("truetype"); }
@font-face {
  font-family: 'Ubuntu Light';
  src: url("fonts/ubuntu-l-webfont.woff2") format("woff2"), url("fonts/ubuntu-l-webfont.woff") format("woff"), url("fonts/ubuntu-l.ttf") format("truetype"); }
*,
*:after,
*:before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #606c76;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6; }

blockquote {
  border-left: 0.3rem solid #d1d1d1;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem; }
  blockquote *:last-child {
    margin-bottom: 0; }

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: #9b4dca;
  border: 0.1rem solid #9b4dca;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap; }
  .button:focus, .button:hover,
  button:focus,
  button:hover,
  input[type='button']:focus,
  input[type='button']:hover,
  input[type='reset']:focus,
  input[type='reset']:hover,
  input[type='submit']:focus,
  input[type='submit']:hover {
    background-color: #606c76;
    border-color: #606c76;
    color: #fff;
    outline: 0; }
  .button[disabled],
  button[disabled],
  input[type='button'][disabled],
  input[type='reset'][disabled],
  input[type='submit'][disabled] {
    cursor: default;
    opacity: .5; }
    .button[disabled]:focus, .button[disabled]:hover,
    button[disabled]:focus,
    button[disabled]:hover,
    input[type='button'][disabled]:focus,
    input[type='button'][disabled]:hover,
    input[type='reset'][disabled]:focus,
    input[type='reset'][disabled]:hover,
    input[type='submit'][disabled]:focus,
    input[type='submit'][disabled]:hover {
      background-color: #9b4dca;
      border-color: #9b4dca; }
  .button.button-outline,
  button.button-outline,
  input[type='button'].button-outline,
  input[type='reset'].button-outline,
  input[type='submit'].button-outline {
    background-color: transparent;
    color: #9b4dca; }
    .button.button-outline:focus, .button.button-outline:hover,
    button.button-outline:focus,
    button.button-outline:hover,
    input[type='button'].button-outline:focus,
    input[type='button'].button-outline:hover,
    input[type='reset'].button-outline:focus,
    input[type='reset'].button-outline:hover,
    input[type='submit'].button-outline:focus,
    input[type='submit'].button-outline:hover {
      background-color: transparent;
      border-color: #606c76;
      color: #606c76; }
    .button.button-outline[disabled]:focus, .button.button-outline[disabled]:hover,
    button.button-outline[disabled]:focus,
    button.button-outline[disabled]:hover,
    input[type='button'].button-outline[disabled]:focus,
    input[type='button'].button-outline[disabled]:hover,
    input[type='reset'].button-outline[disabled]:focus,
    input[type='reset'].button-outline[disabled]:hover,
    input[type='submit'].button-outline[disabled]:focus,
    input[type='submit'].button-outline[disabled]:hover {
      border-color: inherit;
      color: #9b4dca; }
  .button.button-clear,
  button.button-clear,
  input[type='button'].button-clear,
  input[type='reset'].button-clear,
  input[type='submit'].button-clear {
    background-color: transparent;
    border-color: transparent;
    color: #9b4dca; }
    .button.button-clear:focus, .button.button-clear:hover,
    button.button-clear:focus,
    button.button-clear:hover,
    input[type='button'].button-clear:focus,
    input[type='button'].button-clear:hover,
    input[type='reset'].button-clear:focus,
    input[type='reset'].button-clear:hover,
    input[type='submit'].button-clear:focus,
    input[type='submit'].button-clear:hover {
      background-color: transparent;
      border-color: transparent;
      color: #606c76; }
    .button.button-clear[disabled]:focus, .button.button-clear[disabled]:hover,
    button.button-clear[disabled]:focus,
    button.button-clear[disabled]:hover,
    input[type='button'].button-clear[disabled]:focus,
    input[type='button'].button-clear[disabled]:hover,
    input[type='reset'].button-clear[disabled]:focus,
    input[type='reset'].button-clear[disabled]:hover,
    input[type='submit'].button-clear[disabled]:focus,
    input[type='submit'].button-clear[disabled]:hover {
      color: #9b4dca; }

code {
  background: #f4f5f6;
  border-radius: .4rem;
  font-size: 86%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap; }

pre {
  background: #f4f5f6;
  border-left: 0.3rem solid #9b4dca;
  overflow-y: hidden; }
  pre > code {
    border-radius: 0;
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre; }

hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
  margin: 3.0rem 0; }

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%; }
  input[type='email']:focus,
  input[type='number']:focus,
  input[type='password']:focus,
  input[type='search']:focus,
  input[type='tel']:focus,
  input[type='text']:focus,
  input[type='url']:focus,
  textarea:focus,
  select:focus {
    border-color: #9b4dca;
    outline: 0; }

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
  padding-right: 3.0rem; }
  select:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#9b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>'); }

textarea {
  min-height: 6.5rem; }

label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .5rem; }

fieldset {
  border-width: 0;
  padding: 0; }

input[type='checkbox'],
input[type='radio'] {
  display: inline; }

.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem; }

.container {
  margin: 0 auto;
  max-width: 112.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%; }

.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%; }
  .row.row-no-padding {
    padding: 0; }
    .row.row-no-padding > .column {
      padding: 0; }
  .row.row-wrap {
    flex-wrap: wrap; }
  .row.row-top {
    align-items: flex-start; }
  .row.row-bottom {
    align-items: flex-end; }
  .row.row-center {
    align-items: center; }
  .row.row-stretch {
    align-items: stretch; }
  .row.row-baseline {
    align-items: baseline; }
  .row .column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%; }
    .row .column.column-offset-10 {
      margin-left: 10%; }
    .row .column.column-offset-20 {
      margin-left: 20%; }
    .row .column.column-offset-25 {
      margin-left: 25%; }
    .row .column.column-offset-33, .row .column.column-offset-34 {
      margin-left: 33.3333%; }
    .row .column.column-offset-50 {
      margin-left: 50%; }
    .row .column.column-offset-66, .row .column.column-offset-67 {
      margin-left: 66.6666%; }
    .row .column.column-offset-75 {
      margin-left: 75%; }
    .row .column.column-offset-80 {
      margin-left: 80%; }
    .row .column.column-offset-90 {
      margin-left: 90%; }
    .row .column.column-10 {
      flex: 0 0 10%;
      max-width: 10%; }
    .row .column.column-20 {
      flex: 0 0 20%;
      max-width: 20%; }
    .row .column.column-25 {
      flex: 0 0 25%;
      max-width: 25%; }
    .row .column.column-33, .row .column.column-34 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%; }
    .row .column.column-40 {
      flex: 0 0 40%;
      max-width: 40%; }
    .row .column.column-50 {
      flex: 0 0 50%;
      max-width: 50%; }
    .row .column.column-60 {
      flex: 0 0 60%;
      max-width: 60%; }
    .row .column.column-66, .row .column.column-67 {
      flex: 0 0 66.6666%;
      max-width: 66.6666%; }
    .row .column.column-75 {
      flex: 0 0 75%;
      max-width: 75%; }
    .row .column.column-80 {
      flex: 0 0 80%;
      max-width: 80%; }
    .row .column.column-90 {
      flex: 0 0 90%;
      max-width: 90%; }
    .row .column .column-top {
      align-self: flex-start; }
    .row .column .column-bottom {
      align-self: flex-end; }
    .row .column .column-center {
      align-self: center; }

@media (min-width: 40rem) {
  .row {
    flex-direction: row;
    margin-left: -1.0rem;
    width: calc(100% + 2.0rem); }
    .row .column {
      margin-bottom: inherit;
      padding: 0 1.0rem; } }
a {
  color: #9b4dca;
  text-decoration: none; }
  a:focus, a:hover {
    color: #606c76; }

dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0; }
  dl dl,
  dl ol,
  dl ul,
  ol dl,
  ol ol,
  ol ul,
  ul dl,
  ul ol,
  ul ul {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3.0rem; }

ol {
  list-style: decimal inside; }

ul {
  list-style: circle inside; }

.button,
button,
dd,
dt,
li {
  margin-bottom: 1.0rem; }

fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem; }

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 2.5rem; }

table {
  border-spacing: 0;
  width: 100%; }

td,
th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
  text-align: left; }
  td:first-child,
  th:first-child {
    padding-left: 0; }
  td:last-child,
  th:last-child {
    padding-right: 0; }

img {
  max-width: 100%; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: table; }

.float-left {
  float: left; }

.float-right {
  float: right; }

:root {
  --main-color: #fce21b;
  --black: #000000;
  --white: #ffffff;
  --secondary-color: #A1F4F7;
  --tertiary-color: #32325d;
  --light-purple: #e4e4f1;
  --light-grey: #e1e1e1;
  --medium-grey: #acacac;
  --dark-grey: #5c5c5c;
  --very-dark-grey: #1d1d1d;
  --success: #87B37A;
  --error: #FF8360;
  --card-background: #efefef; }

html, body {
  background: var(--light-grey);
  color: var(--black);
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', "Segoe UI", sans-serif; }

/* TEXT CLASSES */
a {
  color: var(--tertiary-color);
  font-weight: bold; }
  a:hover {
    color: #7474b4; }

strong {
  font-family: 'Ubuntu Bold', "Segoe UI", sans-serif; }

li {
  margin-bottom: 2rem; }

p, a, span, li {
  font-size: 1.5rem; }

small {
  font-size: 60%; }
  @media screen and (max-width: 65em) {
    small {
      font-size: 60%; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu Bold", "Segoe UI", sans-serif; }

h1 {
  font-size: 4.6rem;
  line-height: 1.2; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25; }

h3 {
  font-size: 2.8rem;
  line-height: 1.3; }

h4 {
  font-size: 2.2rem;
  letter-spacing: -.08rem;
  line-height: 1.35; }

h5 {
  font-size: 1.8rem;
  letter-spacing: -.05rem;
  line-height: 1.5; }

h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4; }

/* TEXT BOX AND HEADINGS */
.tldr {
  background-color: var(--tertiary-color);
  color: var(--white);
  font-family: 'Ubuntu Bold', "Segoe UI", sans-serif;
  margin: 0;
  padding: 0 1.25rem;
  text-decoration: underline;
  word-wrap: break-word; }
  .tldr h1, .tldr h2, .tldr h3, .tldr h4, .tldr h5, .tldr h6 {
    line-height: 1; }

.text--box {
  background-color: var(--tertiary-color);
  color: var(--white);
  font-family: 'Ubuntu Bold', "Segoe UI", sans-serif;
  margin: 0;
  padding: 0 1.25rem;
  text-decoration: underline;
  word-wrap: break-word; }
  .text--box h1, .text--box h2, .text--box h3, .text--box h4, .text--box h5, .text--box h6 {
    line-height: 1; }
  .text--box__heading {
    display: flex;
    font-size: 2rem; }
  .text--box__large {
    font-size: 3rem; }
  .text--box__medium {
    font-size: 2rem;
    margin-bottom: 2rem; }

.heading {
  text-decoration: underline; }

.bold {
  font-family: 'Ubuntu Bold', "Segoe UI", sans-serif; }

/* LINKS */
.link {
  color: var(--white);
  text-decoration: underline !important; }
  .link--body {
    display: block;
    margin: .5rem 0;
    padding: .5rem;
    width: max-content; }
  .link--body__small {
    margin: .25rem 0;
    padding: .15rem .5rem; }
  .link--body__inline {
    display: inline;
    margin: 1.5rem 0;
    padding: .5rem;
    width: max-content; }
  .link--header {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: var(--white);
    color: var(--black);
    font-family: "Ubuntu Bold", "Segoe UI", sans-serif;
    padding: 1rem;
    text-decoration: underline; }
    .link--header:hover {
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12); }

/* HEADER AND FOOTER */
header {
  color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100vw;
  z-index: 3; }
  header a {
    color: var(--black);
    font-size: 1.4rem;
    font-family: 'Ubuntu', "Segoe UI", sans-serif;
    font-weight: bold;
    padding: 2rem 1rem;
    position: relative;
    display: block;
    transition: all 250ms linear;
    width: max-content; }
    header a:hover {
      color: gray;
      transition: all 250ms linear; }

footer {
  background-color: var(--success);
  color: var(--black);
  min-height: 300px;
  padding: 2rem 0; }
  footer a {
    color: var(--white);
    margin-bottom: 1rem; }
  footer .grid .column {
    margin-bottom: 2rem; }

/* BUTTON */
.button {
  border: none;
  border-radius: 0;
  background-color: var(--tertiary-color);
  color: var(--white); }
  .button.button-outline {
    color: var(--white); }
  .button--download {
    font-size: 1.4rem;
    margin-right: .5rem;
    margin-bottom: 0; }
    .button--download i {
      font-size: 1.4rem; }
  .button:hover {
    background-color: #7474b4;
    color: var(--white); }
  @media screen and (max-width: 65em) {
    .button {
      margin-bottom: .5rem;
      width: 100%; } }

/* HERO */
.hero {
  display: flex;
  height: 20vh;
  max-height: 100vh;
  max-width: 100vw;
  min-height: 300px;
  position: relative;
  width: 100%;
  z-index: 1; }
  @media screen and (max-width: 65em) {
    .hero {
      height: 80vh; } }
  @media screen and (max-width: 65em) {
    .hero.secondary {
      height: 30vh; } }
  .hero--index {
    min-height: 500px; }
  .hero--main {
    justify-content: center;
    align-items: center; }
    .hero--main__secondary {
      background-image: linear-gradient(to top, var(--light-grey), var(--secondary-color));
      color: var(--black); }
    .hero--main--text {
      justify-content: center;
      padding: 2rem;
      word-wrap: break-word; }
      .hero--main--text h1 {
        margin: 0;
        font-size: 3rem; }

/* GRID */
.grid {
  display: grid; }
  .grid--4__even {
    grid-template-columns: repeat(4, minmax(250px, 1fr)); }
    @media screen and (max-width: 65em) {
      .grid--4__even {
        grid-template-columns: 1fr; } }
  .grid--3__even {
    grid-template-columns: repeat(3, minmax(300px, 1fr)); }
    @media screen and (max-width: 65em) {
      .grid--3__even {
        grid-template-columns: 1fr; } }

/* SECTIONS */
.section--password, .section--tips, .section--tool, .section--encryption, .section--legal, .section--funds-list, .section--petitions-list, .section--tools-list, .section--blog, .section--blog--related {
  margin: 100px 0; }

@media screen and (max-width: 65em) {
  .section--tool {
    margin: 0 0 100px 0; } }

.section--blog--author {
  background: #7474b4;
  color: var(--white);
  padding: 50px 0; }

.section--hero {
  overflow: hidden;
  position: relative; }
  .section--hero .column {
    z-index: 2; }
  .section--hero img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    max-width: 100vw;
    width: 100%;
    height: auto;
    z-index: 1; }

.section--tool {
  position: relative; }

.section--blog--author .blog--author {
  display: flex;
  flex-flow: row nowrap; }
  .section--blog--author .blog--author img {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-height: 100px;
    margin-left: 5rem;
    object-fit: cover;
    width: 100px;
    border-radius: 50px; }
    .section--blog--author .blog--author img:hover {
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }
.section--blog__children {
  margin: 100px 0; }

.background__light-grey {
  background-color: var(--light-grey); }

.slant__before {
  position: relative; }
  .slant__before:before {
    background-color: #f1f1f1;
    top: -300px;
    content: '';
    height: 600px;
    position: absolute;
    right: 0;
    transform: skew(0, -12deg);
    width: 100%;
    z-index: 0; }

.container {
  z-index: 2; }

.section--recommendation {
  padding: 8rem 0;
  position: relative; }
  .section--recommendation .container {
    position: relative;
    z-index: 1; }
  .section--recommendation:after {
    background-color: #f1f1f1;
    bottom: -300px;
    content: '';
    height: 600px;
    position: absolute;
    right: 0;
    transform: skew(0, -12deg);
    width: 100%;
    z-index: 0; }

.section--password .card__large {
  flex-flow: column nowrap; }

.section--tips {
  background-color: #f1f1f1;
  color: var(--black);
  margin: 16rem 0;
  position: relative;
  z-index: 1; }
  .section--tips .card {
    margin: 0 2rem 2rem 2rem; }
    @media screen and (max-width: 65em) {
      .section--tips .card {
        margin: 0 0 2rem 0; } }

.section--funds {
  background-color: var(--success);
  padding: 100px 0; }

.section--petitions {
  background-color: var(--error);
  padding: 100px 0; }

.section--encryption input,
.section--encryption label {
  width: 100%; }
.section--encryption label {
  margin: 0 1rem 0 0; }
  @media screen and (max-width: 65em) {
    .section--encryption label {
      margin: 1rem 0; } }
.section--encryption .card__large {
  flex-flow: column nowrap;
  margin-bottom: 10rem; }

/* CARD */
.card--grid {
  padding-top: 3rem; }

.card--fund {
  background-color: var(--card-background);
  min-height: 150px;
  max-width: 20vw;
  padding: 2rem;
  width: 100%; }
  .card--fund--none {
    max-width: 40%; }
    .card--fund--none div {
      margin: 1rem; }
  @media screen and (max-width: 65em) {
    .card--fund {
      max-width: 95%;
      margin-bottom: 2rem; } }
  .card--fund h6 {
    margin: 0; }

.card--end {
  background-color: var(--card-background);
  min-height: 150px;
  max-width: 20vw; }
  @media screen and (max-width: 65em) {
    .card--end {
      width: 100vw;
      min-height: max-content;
      max-width: 95%;
      text-align: center; } }
  .card--end a {
    color: black;
    display: flex;
    font-family: 'Ubuntu Bold', "Segoe UI", sans-serif;
    align-items: center;
    height: 100%;
    padding: 2rem;
    text-align: center;
    width: 100%; }

.shadow__large {
  box-shadow: 0 8px 15px 5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025); }
.shadow__medium {
  box-shadow: 0 5px 10px 3px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025); }
.shadow__small {
  box-shadow: 0 3px 5px 1px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025); }

div.card {
  background: var(--card-background);
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  flex: 0 0 2;
  margin: 0 1rem;
  padding: 0;
  position: relative;
  transition: all 350ms linear;
  z-index: 2; }
  @media screen and (max-width: 65em) {
    div.card {
      width: 100%;
      min-height: max-content;
      max-width: 95%;
      text-align: center; } }
  div.card__small {
    min-height: 200px;
    padding: 2rem;
    max-width: calc(100vw - 4rem); }
    div.card__small__blog {
      max-width: 20vw; }
      @media screen and (max-width: 65em) {
        div.card__small__blog {
          width: 100%;
          min-height: max-content;
          max-width: 95%;
          text-align: center; } }
      div.card__small__blog .card--image {
        padding: 0 !important; }
        div.card__small__blog .card--image img {
          filter: none !important;
          width: 100% !important; }
  @media (max-width: 55rem) {
    div.card {
      margin: 0 0 2rem 0; } }
  div.card__large {
    display: flex;
    flex: 2;
    flex-flow: row nowrap;
    padding: 2rem; }
    @media screen and (max-width: 65em) {
      div.card__large {
        flex-flow: column nowrap;
        flex: 1; } }
    div.card__large .card--text {
      flex: 4 1; }
    div.card__large .card--image {
      flex: 1 1;
      padding: 1rem; }
  div.card--links {
    margin-bottom: 3rem;
    padding-left: .5rem; }
    div.card--links h5 {
      margin-bottom: 1rem; }
  div.card .card--image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 1rem; }
    div.card .card--image img {
      height: auto;
      max-width: 100%;
      min-width: 50%;
      width: 200px;
      filter: drop-shadow(0 0 45px rgba(80, 80, 80, 0.75));
      -webkit-filter: drop-shadow(0px 0px 45px rgba(80, 80, 80, 0.75)); }
  div.card .card--text {
    color: var(--black);
    padding: 1rem;
    width: 100%; }
    div.card .card--text .button {
      width: 100%; }

/* FLEX */
.flex {
  display: flex; }
  .flex.center {
    align-items: center; }
  .flex.space-between {
    justify-content: space-between; }
  .flex.space-around {
    justify-content: space-around; }
  .flex.space-evenly {
    justify-content: space-evenly; }
  .flex.flex-end {
    justify-content: flex-end; }
  .flex.align-center {
    align-items: center; }
  .flex--row {
    flex-flow: row nowrap; }
    @media screen and (max-width: 65em) {
      .flex--row {
        align-items: center;
        flex-flow: column nowrap;
        flex: 1; } }
  .flex--column {
    flex-flow: column nowrap; }

.padding-2 {
  padding: 2rem; }

@media screen and (max-width: 65em) {
  .hide-mobile {
    display: none; } }

@media screen and (max-width: 65em) {
  .show-mobile {
    display: flex; } }

.mobile--navigation {
  background: var(--light-grey);
  display: flex;
  flex-flow: column nowrap;
  top: 0;
  height: calc(100vh - 50px);
  transition: all 250ms ease-in-out;
  position: fixed;
  width: 100vw;
  z-index: 5; }
  .mobile--navigation a {
    border-bottom: 1px solid #eeeeee;
    width: 100%; }
    .mobile--navigation a:hover {
      background: var(--light-purple);
      font-weight: bold; }
  .mobile--navigation.hide {
    top: -100vh;
    transition: all 250ms ease-in-out; }
  .mobile--navigation--icons {
    display: none;
    flex-flow: row nowrap;
    position: fixed;
    bottom: 0;
    height: 10vh;
    max-height: 50px;
    width: 100%;
    z-index: 3; }
    @media screen and (max-width: 65em) {
      .mobile--navigation--icons {
        display: flex !important; } }
  .mobile--navigation--button {
    height: 100%;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center; }
    .mobile--navigation--button:hover {
      background: #7474b4; }

/* TYPE TAGS */
.type--tag--container {
  background: var(--light-grey);
  margin-top: 1rem;
  padding: 1rem; }

span {
  font-family: 'Ubuntu Bold', "Segoe UI", sans-serif; }
  span.type__card {
    position: absolute;
    margin: 0;
    padding: .75rem;
    right: 0;
    top: 0;
    z-index: 3; }
  span.type--tag {
    padding: .5rem;
    margin: 0 .5rem 1rem .5rem;
    text-align: center; }
    @media (max-width: 55rem) {
      span.type--tag {
        text-align: center;
        margin-bottom: 2rem;
        width: 100%; } }
  span.type--messaging {
    background-color: #f6d4ba;
    color: var(--black); }
  span.type--secure {
    background-color: #a54657;
    color: var(--white); }
  span.type--free {
    background-color: #53ff45;
    color: var(--black); }
  span.type--social-media {
    background-color: #1e2ede;
    color: var(--white); }
  span.type--search {
    background-color: #0081a7;
    color: var(--white); }
  span.type--browser {
    background-color: #25283d;
    color: var(--white); }
  span.type--encrypted {
    background-color: #dec0f1;
    color: var(--black); }
  span.type--email {
    background-color: #17BEBB;
    color: var(--white); }
  span.type--anonymous {
    background-color: #9381FF;
    color: var(--white); }
  span.type--vpn {
    background-color: #45062E;
    color: var(--white); }

.no-margin {
  margin: 0; }

.margin__tb__6 {
  margin: 6rem 0; }

.margin-top__2 {
  margin-top: 2rem; }
.margin-top__6 {
  margin-top: 6rem; }

.full-width {
  width: 100%; }

.response--result {
  margin: 1rem 0 2rem 0;
  word-wrap: break-word;
  max-width: calc(100vw - 8rem); }
  .response--result .text--box {
    text-decoration: none; }

.download-links {
  margin-left: 2rem;
  flex-flow: row; }
  .download-links a {
    margin-bottom: 1rem; }
  @media screen and (max-width: 65em) {
    .download-links {
      flex-flow: column nowrap;
      flex: 1; } }

.password--box {
  margin-bottom: 2rem; }

/* FORMS */
input[type='text'],
input[type='url'],
textarea {
  border-radius: 0;
  font-size: 100%; }
  input[type='text']:active, input[type='text']:focus,
  input[type='url']:active,
  input[type='url']:focus,
  textarea:active,
  textarea:focus {
    border: 1px solid var(--black); }

input.is-valid,
textarea.is-valid {
  border-color: var(--success); }

input.is-invalid,
textarea.is-invalid {
  border-color: var(--error); }

.invalid-feedback {
  background-color: rgba(223, 41, 53, 0.3);
  color: var(--error);
  font-weight: 800;
  padding: .5rem; }

.form--container {
  background-color: var(--card-background);
  padding: 2rem; }
  .form--container .form--group {
    margin-bottom: 2rem; }

/* MESSAGES */
.messages {
  display: flex;
  flex-flow: column;
  min-height: 80px;
  position: fixed;
  left: 0;
  margin: 0;
  padding: 0;
  bottom: 0;
  width: 100vw;
  z-index: 10; }
  .messages.hide {
    bottom: -100px;
    transition: all 350ms linear; }
    @media screen and (max-width: 65em) {
      .messages.hide {
        bottom: -1000px; } }
  .messages p {
    font-size: 150%;
    font-weight: 800;
    margin: 0;
    padding: 2rem 0;
    text-align: center;
    width: 100%; }
    @media screen and (max-width: 65em) {
      .messages p {
        font-size: 100%; } }
    .messages p.warning {
      background-color: rgba(223, 41, 53, 0.75);
      color: var(--white); }
    .messages p.success {
      background-color: rgba(16, 163, 168, 0.75);
      color: var(--black); }

/* BLOG */
.rich-text img {
  max-width: 100%;
  height: auto; }

.responsive-object {
  position: relative; }

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=main.css.map */
