{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block hero %}
    <section>
        <div class="column">
            <div class="hero secondary hero--main hero--main__secondary">
                <div class="container">
                    <div class="hero--main--text">
                        <h1>404 File Not Found</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="section--encryption">
        <div class="column">
            <div class="container">
                <div class="card card__large shadow__medium">
                    <div class="flex flex--column full-width">
                        <h2>Bummer!</h2>
                        <p>Looks like you tried searching for a page that doesn't exist.</p>
                        <a class="link--body" href="{{request.META.HTTP_REFERER}}">Go back instead?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block scripts %}
{% endblock %}
