{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="A simple directory of fantastic tools from around the web and some custom ones for remaining anonymous/safe online." />
    <meta name="keywords" content="tools, encryption, email, browsers, messaging, secure, vpn, social media, anonymous">
    <title>Tools For Dissent | A directory of tools for dissenting voices</title>

    <!-- For IE 9 and below ICO should be 32x32 pixels in size -->
    <!--[if IE]><link rel="shortcut icon" href="/media/images/favicon.ico"><![endif]-->

    <!-- Firefox, Chrome, Safari, IE 11+, Edge, and Opera. 196x196 pixels in size. -->
    <link rel="icon" href="/media/images/favicon.png">
    <link rel="icon" href="/media/images/favicon.svg">

    <link rel="apple-touch-icon" sizes="57x57" href="/media/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/media/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/media/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/media/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/media/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/media/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/media/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/media/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/media/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/media/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/media/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/media/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Social Media Stuff -->
    <meta property="og:title" content="Tools For Dissent | A directory of tools for dissenting voices">
    <meta property="og:url" content="https://toolsfordissent.org">
    <meta property="og:description" content="A simple directory of fantastic tools from around the web and some custom ones for remaining anonymous/safe online.">
    <meta property="og:image" content="https://toolsfordissent.org/media/images/social_media_banner_1200_630.png">

    <!-- Twitter -->
    <meta name="twitter:title" content="Tools For Dissent | A directory of tools for dissenting voices">
    <meta name="twitter:url" content="https://toolsfordissent.org">
    <meta name="twitter:description" content="A simple directory of fantastic tools from around the web and some custom ones for remaining anonymous/safe online.">
    <meta name="twitter:image" content="https://toolsfordissent.org/media/images/social_media_banner_1200_630.png">

    <link type="text/css" rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
{% block header %}{% endblock %}
<main>

    {% if messages %}
        <div id="messages" class="messages">
            {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {% block hero %}{% endblock %}
    {% block content %}{% endblock %}
</main>
    <footer>
        <div class="container">
            {% block footer %}{% endblock %}
        </div>
    </footer>

{% block scripts %}
{% endblock %}

<script src="{% static 'main.js' %}"></script>
{% if messages %}
    <script>
        let messages = document.getElementById('messages');
        setTimeout(function () {
            messages.classList.add('hide');
        }, 10000)
    </script>
{% endif %}

</body>
</html>
