{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block hero %}
    <section>
        <div class="column">
            <div class="hero secondary hero--main hero--main__secondary">
                <div class="container">
                    <div class="hero--main--text">
                        <h1>Encrypt / Decrypt Text</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="section--encryption">
        <div class="column">
            <div class="container">
                <div class="card card__large shadow__medium">
                    <div class="flex flex--column full-width">
                        <h5 class="bold">Encrypt</h5>
                        <div id="encryptSection" class="flex flex--row space-between align-center">
                            <label><small>Encryption key file if you already have one.</small>
                                <input class="no-margin" id="encryptionKey" type="file" name="encryptionKey">
                            </label>
                            <label>
                                <input class="no-margin" id="name" type="text" name="name" default="key" placeholder="Name for new encryption key">
                            </label>
                            <label>
                                <input class="no-margin" id="text" type="text" name="text" placeholder="Text to encrypt">
                            </label>
                            <button id="generate" class="button no-margin">Encrypt</button>
                        </div>
                    </div>
                    <div class="flex flex--row">
                        <div id="encrypted_text" class="full-width response--result"></div>
                    </div>
                    <div class="flex flex--column full-width">
                        <h5 class="bold">Decrypt</h5>
                        <div id="decryptSection" class="flex flex--row space-between align-center">
                            <label>
                                <input class="no-margin" id="key" type="file" name="key" placeholder="Encryption key file">
                            </label>
                            <label>
                                <input class="no-margin" id="encryptedText" type="text" name="encryptedText" placeholder="Text to decrypt">
                            </label>
                            <button id="decrypt" class="button no-margin">Decrypt</button>
                        </div>
                    </div>
                    <div class="flex flex--row">
                        <div id="decrypted_text" class="full-width response--result"></div>
                    </div>
                </div>
                <div class="card__large">
                    <h3>Why is encryption important?</h3>
                    <div class="tldr shadow__large">
                        <h4>TLDR</h4>
                        <p class="bold">
                            AES-128/256 is more than enough in terms of strength for everyday encryption. It is secure
                            and will be for a long time.
                        </p>
                    </div>
                    <h4>The Rest</h4>
                    <p>
                        You've likely heard about encryption. Probably in reference to some messaging service or, in
                        general, 'data'. It's important to understand that encryption comes in various forms and varying
                        levels of sophistication. The important thing, really, is to ensure that you are using one.
                        Whether that is in the tools you use, or personally, make sure that your communication is
                        encrypted or just about anybody could be looking at it and you'd never even know.
                    </p>
                    <p>
                        Each type of encryption has drawbacks and benefits, no type is 100% completely secure forever
                        but this isn't really a problem. For the majority of people and uses, anything more will just
                        make it more difficult to use or implement. The three major encryption types are DES, AES, and
                        RSA.
                    </p>
                    <h4>DES</h4>
                    <p>
                        Established as a standard in the 1970's, this encryption laid the foundation for more modern,
                        stronger levels of encryption. It encrypts 56-bits at a time and, even in the 70's was found to
                        be easily hacked. DES is very rarely used today but is important to know about, if you see
                        something that uses DES, DO NOT USE IT.
                    </p>
                    <h4>AES</h4>
                    <p>
                        AES is the current standard for encryption. You've maybe heard of it, you'll definitely have
                        come into contact with it at some point. One of the most secure encryption types, Advanced
                        Encryption Standard (AES) is used by governments and security organizations as well as everyday
                        businesses for classified communications. AES uses “symmetric” key encryption. Someone on the
                        receiving end of the data will need a key to decode it.
                    </p>
                    <p>
                        AES differs from other encryption types in that it encrypts data in a single block, instead of
                        as individual bits of data. The block sizes determine the name for each kind of AES encrypted
                        data:
                    </p>
                    <ul>
                            <li>AES-128 encrypts blocks of a 128-bit size</li>
                            <li>AES-192 encrypts blocks of a 192-bit size</li>
                            <li>AES-256 encrypts blocks of a 256-bit size</li>
                    </ul>
                    <p>
                        In addition to having different block sizes, each encryption method has a different number of
                        rounds. These rounds are the processes of changing a plaintext piece of data into encrypted data
                        or ciphered text. AES-128, for example, uses 10 rounds, and AES-256 uses 14 rounds.
                    </p>
                    <h4>RSA</h4>
                    <p>
                        Another popular encryption standard is “Rivest-Shamir-Adleman” or RSA. It is widely used for data
                        sent online and relies on a public key to encrypt the data. Those on the receiving end of the
                        data will have their own private key to decode the messages. It’s proven to be a secure way to
                        send information between people who may not know each other and want to communicate without
                        compromising their personal or sensitive data.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'encrypt-decrypt.js' %}"></script>
{% endblock %}