<div class="grid grid--3__even">
    <div class="column">
        <h5 class="heading">Legal</h5>
        <div class="column">
            <a href="{% url 'legal_home' %}">TLDR</a>
        </div>
    </div>
    <div class="column">
        <h5 class="heading">Tools</h5>
        <div class="flex flex--column">
            <a href="{% url 'password_generator' %}">Secure Password Generator</a>
            <a href="{% url 'encrypt_page' %}">Encrypt Text</a>
        </div>
    </div>
    <div class="column">

    </div>
    <div class="column">

    </div>
</div>
