{% extends 'base.html' %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block hero %}
    <section>
        <div class="column">
            <div class="hero secondary hero--main hero--main__secondary">
                <div class="container">
                    <div class="hero--main--text">
                        <h1>Legal Stuff</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="section--legal">
        <div class="column">
            <div class="container">
                <div class="card card__large shadow__large">
                    <div class="flex flex--column">
                        <h2>TLDR:</h2>
                        <h5>We do not collect ANY information on you whatsoever. No cookies, token, tags, breadcrumbs or
                            other assorted foodstuffs masquerading as trackers. Everything is anonymous. Every interaction
                            you have here is anonymous. Unless explicitly said otherwise, everything sent to us is encrypted
                            from the moment it is sent.
                        </h5>
                        <p>
                            Every image, line of text and link from this site is owned by their respective copyright
                            owners. This site is purely a directory for privacy and communication tools. Nothing more.
                            Any information on here is made available for all to use with no guarantee of success. If
                            used properly it may provide security and anonymity benefits.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}