{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block hero %}
    <section>
        <div class="column">
            <div class="hero secondary hero--main hero--main__secondary">
                <div class="container">
                    <div class="hero--main--text">
                        <h1>Generate Password</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="section--password">
        <div class="column">
            <div class="container">
                <div class="card card__large shadow__medium">
                    <div class="flex flex--column">
                        <div class="flex flex--row password--box align-center">
                            <h3 class="bold no-margin">Password: &nbsp;</h3> <p id="password_container" class="text--box text--box__large">{{ generated_password }}</p>
                        </div>
                        <p>Be sure to save this locally as it won't be generated again.</p>
                        <div class="column">
                            <h5>Need more options?</h5>
                            <div class="flex flex--row">
                                <label>Number of words - <i>Defaults to 3, max 10</i>
                                    <input id="length" type="number" name="length" max="10" value="3">
                                </label>
                                <label>Include numbers?
                                    <input id="numbers" type="checkbox" name="numbers">
                                </label>
                            </div>
                            <button id="generate" class="button">Generate again</button>
                        </div>
                    </div>
                </div>
                <div>
                    <h3>Why is password strength important?</h3>
                    <div class="flex flex--column center">
                        <img src="/media/password_strength.png" alt="XKCD password strength" />
                    </div>
                    <p class="margin-top__2">
                        That's it. XKCD summed it up. In that short comic that is the entire reason why you should think
                        more about your passwords. Combine that with the amount of times that short passwords get hacked
                         and the sheer amount of terrible passwords that people use. Here's a list of the
                        <a class="link--body__small" href="https://www.passwordrandom.com/most-popular-passwords">top passwords</a> used by people
                        that are released from a list of passwords found by hackers/organisations.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

{% block scripts %}
<script>
let button = document.getElementById('generate');
let numbers = document.getElementById('numbers');
let length = document.getElementById('length');
let password_container = document.getElementById('password_container');

button.addEventListener('click', function() {
    let numbers_value = numbers.checked;
    let length_value = length.value;
    console.log(`Numbers ${numbers_value}. Length ${length_value}`);

    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }

    let my_data = {
        'length': length_value,
        'numbers': numbers_value
    }

    fetch("{% url 'password_generator' %}", {
        method: "post",
        credentials: "same-origin",
        headers: {
            "X-CSRFToken": getCookie("csrftoken"),
            "Accept": "application/json",
            "Content-Type": "application/json"
        },
        body: JSON.stringify(my_data)
    }).then(function(response) {
        return response.json();
    }).then(function(data) {
        password_container.innerText = data.password;
    }).catch(function(ex) {
        console.log("parsing failed", ex);
    });
    })

</script>
{% endblock %}