<section class="section--petitions">
        <div class="container heading">
            <h2>Petitions</h2>
        </div>
        <div class="column">
            <div class="container">
                <div class="flex flex--row space-evenly">
            {% if petitions.length > 0 %}
                {% for petition in petitions %}
                <div class="card--fund shadow__small flex flex--column space-between">
                        <div>
                            <h6>{{ petition.name }}</h6>
                            <p>{{ petition.description|truncatewords:30 }}</p>
                        </div>
                        <a class="button" target="_blank" href="{{ petition.link }}">Visit</a>
                    </div>
                {% endfor %}
                <div class="card--end shadow__small flex--column space-around">
                    <a class="link--button" href="{% url 'petitions' %}">View All &gt;</a>
                </div>
            {% else %}
                <div class="card--fund card--fund--none shadow__small flex flex--row space-around">
                    <div class="flex align-center">
                        <i class="im im-warning"></i>
                    </div>
                    <div>
                        <p>No Petitions yet but we're working hard on finding the most important ones we can. Use the
                        form on this page to let us know about any you think are important.</p>
                    </div>
                </div>
            {% endif %}
            </div>
            </div>
        </div>
</section>
