{% load widget_tweaks honeypot %}

<section class="section--recommendation">
    <div class="container">
    <h2 class="heading">Recommend Tools</h2>
    <h3>Found an amazing tool that's not listed here? Let us know about it.</h3>
        <div class="form--container shadow__large">
            <form method="post" novalidate>
              {% csrf_token %}

              {% for hidden_field in data.form.hidden_fields %}
                {{ hidden_field }}
              {% endfor %}

                {% render_honeypot_field "extra_hidden_field" %}

              {% if data.form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in data.form.non_field_errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}

              {% for field in data.form.visible_fields %}
                <div class="form--group">
                  {{ field.label_tag }}

                  {% if data.form.is_bound %}
                    {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                        <div class="invalid-feedback">
                          {{ error }}
                        </div>
                      {% endfor %}
                    {% else %}
                      {% render_field field class="form-control is-valid" %}
                    {% endif %}
                  {% else %}
                    {% render_field field class="form-control" %}
                  {% endif %}

                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                </div>
              {% endfor %}

              <button type="submit" class="button">Submit</button>
            </form>
        </div>
    </div>
</section>
