{% extends 'base.html' %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block hero %}
    <section>
        <div class="column">
            <div class="hero secondary hero--main hero--main__secondary">
                <div class="container">
                    <div class="hero--main--text">
                        <div class="flex flex--row space-between align-center">
                            <h1>{{ hero.text }}</h1>
                            <a class="link--header" href="{{ tool.website }}">{{ tool.website }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="section--tool">
        <div class="column">
            <div class="container">
                <div class="card__large">
                    <div class="card--image">
                        <img class="card--image" src="{{ tool.image.url }}" alt="{{ tool.name }} logo"/>
                        <div class="flex flex--column type--tag--container">
                            {% for type in types %}
                                <span class="type--tag type--{{ type }}">{{ type }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card--text">
                        <p class="bold">{{ tool.description }}</p>
                        <hr/>
                        <p>
                            {{ tool.details|safe }}
                        </p>
                        <div class="card--links">
                            <h5>Download Links: </h5>
                            <div class="download-links">
                                {% for link in links %}
                                    <a class="button button--download" href="{{ link.link }}">{{ link.device|capfirst }}
                                        <i class="im im-{{ link.icon }}"></i>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
